@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');

#newTaskcontainer{
    border: 3px solid black;
    padding: 20px;
    /* margin: 50px; */
    height: 300px;
    width: 510px;
    font-family: "Poppins";
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    
    
}

#doneTaskcontainer{
    height: 300px;
    width: 510px;
    padding: 20px;
    border: 3px solid black;
    font-family: "Poppins";
    border-radius: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.tasksContainer{
    display: flex;
    justify-content: space-evenly;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: bolder;
    margin-top: 10px;
}

body{
    /* background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    /* display: flex; */
    /* flex-direction: column; */
     /* Center content vertically */
     /* Center content horizontally */
    /* Ensure body takes full height */
    /* overflow: auto; */
    font-family: "Poppins";
    background-image: linear-gradient(to left, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.innerText{
    text-align: center;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 8px;
    position: fixed;
    top: 20px;
    transform: translateY(200px);
    width: 500px;
    height: 30px;
    padding-bottom: 10px;
   
    background-color: beige;
    
    z-index: 15;
}

.btn{
display: flex;
gap: 20px;
margin-top: 25px;
font-family: "Poppins";
justify-self: center;
padding: 5px;
margin-bottom: 10px;
}

#input_field{
    display: flex;
    /* justify-content: center;
    align-content: center; */
    width: 450px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    border: none;
    font-weight: bold;
    font-family: "Poppins";
    
       justify-self: center;
}

.btn1{
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.btnn3{
    margin-bottom: 40px;
}

/* .finishButton{
    display: flex;
    justify-content: space-between;

} */
.remove_Btn{
    display: flex;
    justify-content: flex-end;

}

/* .wrapper{
    background-color: rgb(131,58,180);
    background-color:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
} */